<div class="user-2">
  <h2 style="font-family: monospace; display:block">Update User Information</h2>
  <form method="post" action="/update-profile">
    <div class="container">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="u-2" value={{user.userName}} name="userName" autocomplete="off">
      </div>

      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="f-2" value={{user.firstName}} name="firstName" required>
      </div>
      
      <div>
        <label for="middleName">Middle Name:</label>
        <input type="text" id="m-2" value={{user.middleName}} value="Collins" name="middleName" required>
      </div>
      
      <div>
        <label for="lastName">last Name:</label>
        <input type="text" value={{user.lastName}} id="l-2" name="lastName" required>
      </div>

       <div>
        <label for="email">Email:</label>
        <input type="email" value={{user.email}} id="e-2" name="email" required>
      </div>


       <div>
        <label for="number">Phone Number:</label>
        <input type="text" value={{user.phoneNumber}} id="n-2" name="phoneNumber" required>
      </div>

       <div>
        <label for="password">Password:</label>
        <input type="password" value={{user.password}} id="p-2" name="password" required>
      </div>

      <div>
        <label for="DOB">DOB:</label>
        <input type="date" value={{user.dateOfBirth}} id="p-2" name="dateOfBirth" required>
      </div>
    <div>
      <label for="DOB">Save</label>
       <button type="submit" id="save-button" ><span style='font-size:20px;'>&#128190;</span></button>
    </div>
    </div>
  </form>
</div>