<div class="out-div">

  <section class="main-div">
      <div class="picture-div">
        <img src="/img/dog.jpg" alt="Profile Picture" class="profile-picture">
      </div>
      <div class="text-div">
        <h2>{{user.firstName}} </h2>
      </div>   
  </section> 

  <hr class="line" style="margin: 0%; ">
  
  <div class="main-div-two">
  
    <section class="section-1-0">
      <div class="input-2">
        <input type="button" value="Go back" onclick="hidelogs()">
      </div>
    </section>

    <section class="section-1-1">
      <div class="section-div-1">
        <div class="log-main">

          <div class="log-div-title">
            <div class="div-01">
              <h5> Date </h5>
            </div>
            <div class="div-01">
              <h5> Amount </h5>
            </div>
            <div class="div-01">
              <h5> LogType </h5>
            </div>
          </div>

          <div class="log-div-history">
            <hr>
            {{#each logs}}
              <div id="each-log-div">
                <h3>{{this.date}} {{this.time}} </h3>
                <h3> {{this.amount}} </h3>
                <h3>{{this.logType}}</h3>
              </div>
            {{/each}}
          </div>
        </div>
      </div>

    </section>
  
  </div>

</div>

  <script>
    function hidelogs() {
      window.location.href = '/home';
    }
  </script>